@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf) ;
}
p, li {
    font-family: 'Raleway';
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;
    background-color: #782221;
    width: 1160px;


}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 2px  lightgray;
}

#body {
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    width: 1160px;
    justify-content: center;
    border-right: 2px solid  #2c1d27;
    min-height: 100%;
    height: 1516px;
}

.xp-agrements-skills {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 40%;
    margin-top: -846px;
}

.xp-agrements-skills h4 {
    display: flex;
    background-color: #dbc2a4;
    padding: 5px;
    padding-left: 7px
}
.xp-agrements-skills h4:hover {
    border-left: 5px solid #782221;
}
.xp-agrements-skills p:hover {
    border-left: 5px solid #782221;
}
.xp-agrements-skills li:hover {
    border-left: 5px solid #782221;
    padding: 4px;
}

.about {
    display: flex;
    flex-direction: column;
    width: 33%;
    top: 0px;
    background-color: #782221;
    color: white;
    text-align: left;
    padding-right: 35px;
}
address {
    display: flex;
    flex-direction: row;
    top: 400px;
    width: 1160px;
    margin: auto;
    height: 71px;
    background-color: #2c1d27;
    justify-content: space-between;
    align-items: center;

}
address a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 0 25px;
    width: 200px;
    
}




body {
    font-size: 1.2rem;
    margin: 0px;
    padding: 0px;
}

header h3 {
    color: white;
}

footer img {
    width: 90px;
    height: 90px;

}

.footer {
    display: flex;
    width: 1160px;
    height: 200px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-top: 130px;
    background-color: #782221;
    justify-content: center;
    align-items: center;

}

h1, h2, h3, h4, h5 {
    font-family: 'Lato';
}

footer p {
    color: white;
}

section p {
    text-indent: 40px;
}

header h1, h2 {
    color: rgb(240, 227, 227);
}

header img:hover {
    cursor: zoom-in;
}

a:hover {
    text-decoration: underline;
}

footer img:hover {
    opacity: 90%;
}

.about h4 {
    display: flex;
    background-color: #dbc2a4;
    padding: 5px;
    color: black;
}

.about p {
    display: flex;
    padding-left: 25px;
}